{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'orders:list' %}">{% trans 'Orders' %}</a></li>
  <li class="active">{{object}}</li>
</ol>

{% if perms.payments.add_payment and not order.is_paid %}
    <a href="{% url 'payments:create' order_pk=object.pk %}" class="btn btn-info">{% trans 'Register payment' %}</a>
{% endif %}

{% if perms.orders.change_order %}
    <a href="{% url 'orders:update' pk=object.pk %}" class="btn btn-info">{% trans 'Update order' %}</a>
{% endif %}

{% include 'trips/_trip_mini.html' with object=object.trip %}

{% if object.is_paid %}
{% if user.is_staff %}
{% include 'payments/_payment_detail.html' with object=object.payment %}
{% else %}
{% include 'payments/_payment_mini.html' with object=object.payment %}
{% endif %}
{% else %}
<p>{% trans 'Payment' %}: {% include 'payments/_payment_badge.html' with status=object.is_paid %}</p>
{% endif %}

<p>User: <a href="{{object.user.get_absolute_url}}">{{object.user}}</a></p>

{% if object.guest_set.all %}
<table class="table table-striped">
    <tr>
        <th>{% trans 'Guest' %}</th>
        <th>{% trans 'Child' %}</th>
        <th>{% trans 'Value' %}</th>
    </tr>
{% for object in object.guest_set.all %}
    <tr>
        <td>{{object}}</td>
        <td>{{object.child | yesno:'yes,no'}} </td>
        <td>{{object.value}}</td>
    </tr>
{% endfor %}
</table>
{% else %}
{% trans 'No guests.' %}
{% endif %}

{% endblock %}
