{% extends 'orders/order_base.html' %}
{% load crispy_forms_tags i18n %}
{% block javascript %}
{{block.super}}
<script src="https://raw.githubusercontent.com/elo80ka/django-dynamic-formset/v1.2.2/src/jquery.formset.js"></script>
<script>
$(function() {
        $('#form-guest tr').formset({
            prefix: '{{ guest.prefix }}',
            deleteText: '{% trans "remove" %}',
            addText: '{% trans "add another guest" %}',
        });
});
</script>
{% endblock %}
{% block content %}
{% if order %}
<ol class="breadcrumb">
  <li><a href="{{order.trip.location.country.get_absolute_url}}">{{order.trip.location.country}}</a></li>
  <li><a href="{{order.trip.location.get_absolute_url}}">{{order.trip.location}}</a></li>
  <li><a href="{{order.trip.get_absolute_url}}">{{order.trip}}</a></li>
  <li><a href="{{order.get_absolute_url}}">{{order}}</a></li>
  <li class="active">{% trans 'Update order' %}</li>
</ol>
{% elif trip %}
<ol class="breadcrumb">
  <li><a href="{{trip.location.country.get_absolute_url}}">{{trip.location.country}}</a></li>
  <li><a href="{{trip.location.get_absolute_url}}">{{trip.location}}</a></li>
  <li><a href="{{trip.get_absolute_url}}">{{trip}}</a></li>
  <li class="active">{% trans 'Add order' %}</li>
</ol>
{% endif %}

<form method="POST" class="form-horizontal">
{{ form | crispy }}
<h2>{% trans 'Guest' %}</h2>
{% if guest %}
<div id="form-guest">
{% crispy guest %}
</div>
{% endif %}
<input type="submit" class="btn btn-primary" value="{% trans 'Order and pay' %}">
</form>
{% endblock %}
