{% extends 'trips/trip_base.html' %}
{% load crispy_forms_tags i18n %}
{% block javascript %}
{{block.super}}
<script src="https://raw.githubusercontent.com/elo80ka/django-dynamic-formset/v1.2.2/src/jquery.formset.js"></script>
<script>
$(function() {
        $('#form-images tr').formset({
            prefix: '{{ image.prefix }}',
            deleteText: '{% trans "remove" %}',
            addText: '{% trans "add another image" %}',
        });
});
</script>
{{form.media}}
{% endblock %}
{% block content %}
<div class="buttons">
{% if perms.locations.add_location %}
<a href="{% url 'locations:create' %}" class="btn btn-info">{% trans 'Add location' %}</a>
{% endif %}

{% if perms.locations.add_country %}
<a href="{% url 'locations:create_country' %}" class="btn btn-info">{% trans 'Add country' %}</a>
{% endif %}
</div>

<form method="POST" enctype="multipart/form-data">
{{ form | crispy }}
{% if images %}
<h2>{% trans 'Gallery' %}</h2>
<div id="form-images">
{% crispy images %}
</div>
{% endif %}
<input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
</form>
{% endblock %}
