{% extends 'trips/trip_base.html' %}
{% load i18n crispy_forms_tags %}
{% block content %}
<div class="row" style="height: 100%">
  <div class="col-xl-4 sidebar">{% crispy filter.form %}</div>
  <div class="col-xl-8">
    <div class="buttons">
      {% if perms.trips.add_trip %}
      <a href="{% url 'trips:create' %}" class="btn btn-info">{% trans 'Add trip' %}</a>
      {% endif %}
    </div>

    {% for object in object_list %}
    {% include 'trips/_trip_mini.html' with object=object %}
    {% endfor %}
  </div>
</div>

{% endblock %}
